

.dragover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px dashed #000;
}

.main-img-prev_hide {
    display: none;
}

.main-img-prev_show {
    display: inline-block !important;
}