html, body{
	width: 100%;
	height: 100%;
	margin: 0;
  	padding: 0;

}

html{
	outline: none;
	box-sizing: border-box;
	font-family: 'roboto_light', Arial, Helvetica, sans-serif;  	
	font-weight: 100;
}

*, *::before, *::after{
	box-sizing: inherit;
	outline: inherit;
}

	::-webkit-input-placeholder {color:$gray;}
	::-moz-placeholder          {color:$gray;}
	:-moz-placeholder           {color:$gray;}
	:-ms-input-placeholder      {color:$gray;}

.wrapper{
	width: 100%;
	min-width: 960px;
	min-height: 100%;	
	display: flex;
	flex-direction: column;
	background: url('../img/bg_page.jpg') no-repeat;
	background-size: cover;
}

.container{
	width: 960px;
	padding: 0 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // min-height: 200px;
}

.main{
	flex: 1 0 auto;
	padding: 60px 0;
}
.main__leftside{
	background: rgba(46,54,65,.6);
	width: 70%;
	padding: 20px;
}

.watermark__title{
	margin: 0 0 56px;
	font-size: 33px;
    color: #fff;
    font-weight: 100;
}
.watermark__area{
	position: relative;
	height: 535px;
	overflow: hidden;
	background: #fff url('../img/bg_transparency.jpg');
}

.main__rightside{
	background: #f1f1f5;
	width: 30%;


}
	
.settings{	

	&__area > div{
		padding: 25px;
		border-bottom: 1px solid #f4c3c2;
		position: relative;

		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 14px;
			height: 14px;
			border-bottom: 1px solid #f4c3c2;
			border-right: 1px solid #f4c3c2;
			transform: translate(-50%, 50%) rotate(45deg);
			background-color: #f1f1f5;
		}		

		&:last-child{
			border-bottom: none;
			&::after{
				content: none;
			}
		}
	}

}

.settings__mainpicture{
	margin-bottom: 25px;

}

.settings__title{
	font-size: 26px;
	text-align: center;
	font-weight: 100;
}

.settings__item{
	display: block;
    font-size: 0px;
    margin: 0 0 7px;
    position: relative;

    & > *{
    	font-size: 14px;
    }
}

.settings__input{
	width: 80%;
	padding: 5px;
	border: 1px solid $gray;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $gray;
    background-color: transparent;
	font-size: 14px;
	height: 30px;
	vertical-align: middle;
}


.settings__text{
	display: inline-block;
	margin-bottom: 7px;
	color: $gray;
}

.settings__button{
	height: 30px;
	display: inline-block;
	width: 20%;
	padding: 5px;
	vertical-align: middle;
    background: #f97e76 url('../img/sprites.png') -40px -104px;
    border-radius: 0 5px 5px 0;
}

/*Привет от Насти...стили для input type = file - скрыто, но работает (для FileReader)*/
.settings__input--hidden {
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0;
}

.settings__button--noactive {
	background-color: #a99e9d;
}

.mainImgContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.secondImgContainer {
	position: absolute;
	z-index: 2;
}

/*...от Насти*/


.setposition__head{
	margin-bottom: 20px;
}

.setposition__title, .setposition__switcher, .coordinates__text, .coordinates__input{
	display: inline-block;
	vertical-align: middle;
	color: $gray; 
}
.setposition__title{
	width: 75%;
}

.setposition__item{
	width: 20px;
    height: 20px;
    display: inline-block;
    background: url('../img/sprites.png') no-repeat;

	&-one{	
		    background-position: -105px -92px;
		    margin-right: 5px;

	    	&:hover{
	    		background-position: -105px -115px;
	    	}
		}
	&-many{	
	    	background-position: -105px -138px;

	    	&:hover{
	    		background-position: -105px -161px;
	    	}
		}

}

.setposition__adjustment{
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.sectors{
	@extend %clearfix;

	width: 100px;
}

.sectors__item{
	float: left;
    width: 34px;
    height: 34px;
    background: #dbe1e8;
    border: 1px solid $gray;    
    margin: -1px 0 0 -1px;

    &:hover{
    	background: #cbd4de;
    }
}

.setposition__coord{	
	display: inline-block;
}

.setposition__block{
	position: relative;
	margin-right: 10px;

	&-bottom{
		margin-top: 20px;
	}
}

.coordinates__input{
	width: 40px;
	height: 40px;
	margin-right: 15px;
	border: 1px solid $gray;
	border-radius: 2px;
}

.coordinates__link{
	position: absolute;
	height: 8px;
    width: 12px;
    right: 0px;
    color: $gray;
    cursor: pointer;
    background: url('../img/spinner-arrows.png') no-repeat;

    &-up{
    	top: 6px;
    	background-position: -12px -8px;

    	&:hover{
    		background-position: 0 0;
    	}
    }
    &-down{
		bottom: 6px;
		background-position: 0px -8px;
		&:hover{
    		background-position: -12px 0;
    	}
    }
}

.transparency__title{
	color: $gray;
	margin-bottom: 30px; 
}

.transparency__level{
	position: relative;
}

.transparency__line{
	height: 3px;
	// position: relative;
    background: #dbe1e8;
}

.transparency__circlebutton{
	position: absolute;
	top: 50%;
    left: -10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    text-align: center;
    border-radius: 50%;
    background: #dbe1e8;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.button{
	padding: 10px 5px;
    min-width: 100px;
    border: 0;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.button-reset{
	float: left;
    background: $gray;
}

.button-download{
	float: right;
    background: #f97e76;
}

.footer{
	flex: 0 0 auto;
	height: 50px;

	&__text{
		text-align: center;
		color: #fff;
	}

	& .container{
		align-items: center;
	}
}