@font-face {
  font-family: 'roboto_black';
  src: url('../fonts/roboto/roboto_black.woff2') format('woff2'),
  url('../fonts/roboto/roboto_black.woff') format('woff'),
  url('../fonts/roboto/roboto_black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_black-italic';
  src: url('../fonts/roboto/roboto_black-italic.woff2') format('woff2'),
  url('../fonts/roboto/roboto_black-italic.woff') format('woff'),
  url('../fonts/roboto/roboto_black-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_bold';
  src: url('../fonts/roboto/roboto_bold.woff2') format('woff2'),
  url('../fonts/roboto/roboto_bold.woff') format('woff'),
  url('../fonts/roboto/roboto_bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_bold-italic';
  src: url('../fonts/roboto/roboto_bold-italic.woff2') format('woff2'),
  url('../fonts/roboto/roboto_bold-italic.woff') format('woff'),
  url('../fonts/roboto/roboto_bold-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_light';
  src: url('../fonts/roboto/roboto_light.woff2') format('woff2'),
  url('../fonts/roboto/roboto_light.woff') format('woff'),
  url('../fonts/roboto/roboto_light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_light-italic';
  src: url('../fonts/roboto/roboto_light-italic.woff2') format('woff2'),
  url('../fonts/roboto/roboto_light-italic.woff') format('woff'),
  url('../fonts/roboto/roboto_light-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_medium';
  src: url('../fonts/roboto/roboto_medium.woff2') format('woff2'),
  url('../fonts/roboto/roboto_medium.woff') format('woff'),
  url('../fonts/roboto/roboto_medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_medium-italic';
  src: url('../fonts/roboto/roboto_medium-italic.woff2') format('woff2'),
  url('../fonts/roboto/roboto_medium-italic.woff') format('woff'),
  url('../fonts/roboto/roboto_medium-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_thin';
  src: url('/assets/fonts/roboto/roboto_thin.woff2') format('woff2'),
  url('/assets/fonts/roboto/roboto_thin.woff') format('woff'),
  url('/assets/fonts/roboto/roboto_thin.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'roboto-condensed_bold';
  src: url('../fonts/roboto-condensed/roboto-condensed_bold.woff2') format('woff2'),
  url('../fonts/roboto-condensed/roboto-condensed_bold.woff') format('woff'),
  url('../fonts/roboto-condensed/roboto-condensed_bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensed_bold-italic';
  src: url('../fonts/roboto-condensed/roboto-condensed_bold-italic.woff2') format('woff2'),
  url('../fonts/roboto-condensed/roboto-condensed_bold-italic.woff') format('woff'),
  url('../fonts/roboto-condensed/roboto-condensed_bold-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensed_italic';
  src: url('../fonts/roboto-condensed/roboto-condensed_italic.woff2') format('woff2'),
  url('../fonts/roboto-condensed/roboto-condensed_italic.woff') format('woff'),
  url('../fonts/roboto-condensed/roboto-condensed_italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensed_light';
  src: url('../fonts/roboto-condensed/roboto-condensed_light.woff2') format('woff2'),
  url('../fonts/roboto-condensed/roboto-condensed_light.woff') format('woff'),
  url('../fonts/roboto-condensed/roboto-condensed_light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'roboto-condensed_light-italic';
  src: url('../fonts/roboto-condensed/roboto-condensed_light-italic.woff2') format('woff2'),
  url('../fonts/roboto-condensed/roboto-condensed_light-italic.woff') format('woff'),
  url('../fonts/roboto-condensed/roboto-condensed_light-italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensed_regular';
  src: url('../fonts/roboto-condensed/roboto-condensed_regular.woff2') format('woff2'),
  url('../fonts/roboto-condensed/roboto-condensed_regular.woff') format('woff'),
  url('../fonts/roboto-condensed/roboto-condensed_regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}