//colors
$gray: #9eb2c0;
$orange: #f97e76;

//макс/мин ширина контента
// $static_width: 940px;

//kostyles
%clearfix{
	&::after, &::before {
    	content: "";
    	display: table;
	}
		&::after {
    	clear: both;
	}
}


