//colors
$gray: #9eb2c0;

//макс/мин ширина контента
// $static_width: 940px;

//kostyles
%clearfix{
	&::after, &::before {
    	content: "";
    	display: table;
	}
		&::after {
    	clear: both;
	}
}

// @mixin inlinefix($fontsize: 14px){
// 	font-size: 0px; 
// 	& > * {
// 		font-size: $fontsize; 	/* для инлайновых элементов, убираем отсутпы */
// 	}
// }

